body{
    background-color: #d5dbdf
}

#formulario-pergunta{
    margin-top: 5vh;
}
h1{
    color: rgb(56, 51, 48)
}

#imagem {
    margin: 10px 10px 5px 70px;
    width:30px;
}
p{
    color: #5f530b
}